
<div class="well well-small">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <legend>Введите ваши данные:</legend>
      <div>
        <%= label_tag :name, 'Логин:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Пароль:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Войти", class: 'btn' %>
      </div>
  <% end %>
</div>