<%= form_for(@faculty) do |f| %>
  <% if @faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% @faculty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <% if @faculty %>
    <%= f.select "university_id", options_from_collection_for_select(@universities, "id", "name", @faculty.university_id) %>
    <% else %>
    <%= f.select "university_id", options_from_collection_for_select(@universities, "id", "name") %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>
