<div class="div_cp">
  Факультеты
</div>
<div class="div_st">
<%="На данный момент в базе содержится #{@faculties.size} факультета(ов)" %>
<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Вуз</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculties.each do |faculty| %>
  <% university=University.find(faculty.university_id) %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= faculty.name %></td>
    <td><%= university.name %></td>
    <td><%= link_to 'Показать', faculty %></td>
    <td><%= link_to 'Редактировать', edit_faculty_path(faculty) %></td>
    <td><%= link_to 'Удалить', faculty, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Добавить', new_faculty_path %>
</div>
