<div class="div_cp">
<%= @faculty.name %> 
</div>
<div class="div_st">
<table class="ed_tb">
  <tr>
    <th>Курсы</th>
    <th></th>
    <% if session[:user_id] %>
    	
    	<th></th>
    	<th></th>
    <% end %>
  </tr>

<% @courses.each do |course| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= course.num %></td>
    
    <td><%= link_to 'Показать',course %></td>
    <% if session[:user_id] %>
    	<td><%= link_to 'Редактировать', edit_course_path(course) %></td>
    	<td><%= link_to 'Удалить', course, confirm: 'Вы уверены?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% if session[:user_id] %>
	<%= link_to 'Редактировать', edit_faculty_path(@faculty) %>
<% end %>
<%= link_to 'Назад', faculties_path %>
</div>
