<fieldset class="day_fields">
  <%= f.hidden_field :num, :class => "numpan2" %>
  <%= f.hidden_field :_destroy %>
  <%= button_to_function "Удалить день", '#', class: "remove_fields btn btn-danger btn-small" %>
  <div  id="sorts_s_<%= f.object_name.gsub(/[^0-9]+/,'') %>">
  <%= f.fields_for :subjects do |builder| %>
    <%= render 'subject_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Добавить предмет", f, :subjects %>
</div>
</fieldset>
<br>