<% rows=0 %>
<% days = Day.find_all_by_group_id(group.id) %>
<% cols=days.size %>
<% subs=Array.new(cols) %>
<% days.each do |day| %>
	<% s = Subject.find_all_by_day_id(day.id) %>
   <% maxn=s.max_by(&:num).num %>
   <% rows=[rows,maxn].max %>
   <% mas=Array.new(maxn) %>
   <% s.each do |ms| %>
      <% mas[ms.num-1]=ms %>
   <% end %>
   <% subs[day.num-1]=mas %>
<% end %>
<% if rows>0 %>
<table class="table table-bordered">
   <thead>
   <% for i in 0...cols %>
      <th class="day">
      <%= Day::DAY_NAMES[i] %>
      </th>
   <% end %>
   </thead>
   <tbody>
   <% for i in 0...rows %>
      <tr>
         <% for j in 0...cols %>
         <% subjects=subs[j] %>
            <% if subjects[i].nil? or subjects[i].num!=i+1 or subjects[i].name=="#пусто#"%>
               <td>
               </td>
            <% else %>
               <td class="<%= 'td_color_'+subjects[i].sub_type.to_s %>">
               <div class="sname">
                  <%= subjects[i].name %>
               </div>
               <%= subjects[i].teacher || "<br>" %><br>
               <%= subjects[i].place || "<br>" %><br>
               </td>
            <% end %>  
         <% end %>
      </tr>
   <% end %>
</tbody>
</table>
<% end %>
<br>
<div class="well well-small" id="ex_b">
<div>Открыть в формате...</div>
<div class="btn-group pull-right">
   <%= link_to 'HTML', group, class: 'btn', target: '_blank' %>
   <%= link_to 'PDF', '/groups/'+group.id.to_s+'.pdf', class: 'btn', target: '_blank'  %>
   <%= link_to 'XLS', '#', class: 'btn', target: '_blank'  %>
</div>
</div>
<div class="colors">
            <div class="square_1">&nbsp;&nbsp;</div><div class="text"> - Лекции</div>
            <div class="square_2">&nbsp;&nbsp;</div><div> - Практики</div><br> 
            <div class="square_3">&nbsp;&nbsp;</div><div class="text"> - Лекции/Практики</div>
            <div class="square_4">&nbsp;&nbsp;</div><div> - Лабораторные</div><br>
            <div class="square_5">&nbsp;&nbsp;</div><div class="text"> - Семинары</div>
            <div class="square_6">&nbsp;&nbsp;</div><div> - Форточка</div><br>
         </div>
