
<div class="well well-small">
<% course = Course.find(@group.course_id) %>
<% fac = Faculty.find(course.faculty_id) %>
<% univ = University.find(fac.university_id) %>
<h3><%= "#{univ.name}, #{fac.name}, #{course.num} курс"%><%= link_to 'Удалить', @group, confirm: 'Вы уверены?', method: :delete, class: 'btn btn-danger' %></h3>
<%= render 'form' %>
<div class="btn-group">
<%= link_to 'Показать', @group, class: 'btn' %> 
<%= link_to 'Назад', groups_path, class: 'btn'  %>
</div>
</div>