<h3>Список групп</h3>
<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Курс</th>
    <th>Факультет</th>
    <th>Вуз</th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <% course=Course.find(group.course_id) %>
  <% faculty=Faculty.find(course.faculty_id) %>
  <% university=University.find(faculty.university_id) %>
  <tr>
    <td><%= group.name %></td>
    <td><%= course.num %></td>
    <td><%= faculty.name %></td>
    <td><%= university.name %></td>
    <td>
      <div class="btn-group">
      <%= link_to 'Показать', group, class: 'btn' %>
      <%= link_to 'Редактировать', edit_group_path(group), class: 'btn' %>
      <%= link_to 'Удалить', group, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Добавить', new_group_path, class: 'btn btn-primary' %>