<h3>Пользователи</h3>
  <table class="table table-striped">
  <tr>
    <th>Имя</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>
      <div class="btn-group">
      <%= link_to 'Показать', user,class: 'btn' %>
      <%= link_to 'Редактировать', edit_user_path(user),class: 'btn' %>
      <%= link_to 'Удалить', user, confirm: 'Вы уверены?', method: :delete,class: 'btn btn-danger' %>
    </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_user_path, class: 'btn btn-primary' %>

