
<%= form_for(@day, :html =>{:id=>"day_form"}) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.number_field :num %>
  </div>
  <div id="sorts_s_<%= @day.id %>">
   <%= f.fields_for :subjects do |builder| %>
   <%= render 'subject_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Добавить предмет", f, :subjects %>
</div>
  
  <br>
    <%= button_to_function "Отправить", "renum()", class: 'btn btn-primary'%>
<% end %>