<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @day.group_id %>
</p>

<p>
  <b>Num:</b>
  <%= @day.num %>
</p>


<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
