<div class="div_cp">
	<%= "#{@course.num} курс, факультет #{Faculty.find(@course.faculty_id).name} " %>
</div>
<div class="div_st">
<table class="ed_tb">
  <tr>
    <th>Группа</th>
    <th></th>
    <% if session[:user_id] %>
    	<th></th>
    	<th></th>
    <% end %>
  </tr>

<% @groups.each do |group| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= group.name %></td>
    <td><%= link_to 'Показать',group %></td>
    <% if session[:user_id] %>
    	<td><%= link_to 'Редактировать', edit_group_path(group) %></td>
    	<td><%= link_to 'Удалить', group, confirm: 'Вы уверены?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% if session[:user_id] %>
<%= link_to 'Редактировать', edit_course_path(@course) %>
<% end %>
<%= link_to 'Назад', courses_path %>
</div>
