<div class="div_cp">
Университеты
</div>
<div class="div_st">
<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th></th>
    <% if session[:user_id] %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @universities.each do |university| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= university.name %></td>
    <td><%= link_to 'Показать', university %></td>
    <% if session[:user_id] %>
    <td><%= link_to 'Редактировать', edit_university_path(university) %></td>
    <td><%= link_to 'Удалить', university, confirm: 'Вы уверены?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:user_id] %>
<%= link_to 'Добавить', new_university_path %>
<% end %>
</div>