<div class="div_cp">
<%= "#{@university.name} включает #{@faculties.size} факультета. " %> 
</div>

<div class="div_st">
<table class="table table-striped">
  <tr>
    <th>Факультеты</th>
    <th></th>
    <% if session[:user_id] %>
    	<th></th>
    	<th></th>
    <% end %>
  </tr>

<% @faculties.each do |faculty| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= faculty.name %></td>
    	<td><%= link_to 'Показать',faculty %></td>
    <% if session[:user_id] %>
    	<td><%= link_to 'Редактировать', edit_faculty_path(faculty) %></td>
    	<td><%= link_to 'Удалить', faculty, confirm: 'Вы уверены?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% if session[:user_id] %>
<%= link_to 'Редактировать', edit_university_path(@university) %>
<% end %>
<%= link_to 'Назад', universities_path %>
</div>