<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Расписание</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <LINK REL=StyleSheet HREF="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" TYPE="text/css">
  
</head>
<body>
<div class="cont">

       <div class="hero-unit"> 
       <div class="well well-small" id="code">
          <img src="/assets/qr.png"/>
          <br>
          <a href="https://play.google.com/store", target="_blank">
          <img src="/assets/1.png">
        </a>
        </div>       
        <div class="header">
          <h1>Дoбро пожаловать!</h1>
        <p>
          Этот сайт делает доступ к расписанию еще более простым и удобным.<br>Он позволяет создавать, редактировать, а затем загружать на телефон любые расписания!          
        </p>               
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">      
              <a class="brand" href="/">Расписание занятий</a>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><a href="/admin">Админ-панель</a></li>
            </ul> 
          </div>
        </div>
      </div>
     
      <div class="main">
        <%= yield %>
      </div>


      <div class="footer">
          <p>
            Для связи с нами пишите на <a href="mailto:ilya.kolodnik@gmail.com" title="Если вы обнаружили ошибку, опишите на какой странице и как это произошло">ilya.kolodnik@gmail.com </a><span>&#169; 2013</span>
          </p>         
      </div>
</div>
</body>
</html>